designs/server/services/ids.json
[
    {
        "id": "sd_YBwPD1QoXPlA9xq1",
        "type": "tab",
        "createdDate": "2019-12-04T10:42:13.097Z",
        "label": "ids",
        "disabled": false,
        "info": "",
        "generateNext": true,
        "serviceName": "ids",
        "relativeParentPath": ""
    },
    {
        "id": "sd_679s61EstmLzOGT7",
        "type": "HttpIn",
        "z": "sd_YBwPD1QoXPlA9xq1",
        "viewType": "server",
        "nodeType": "start",
        "name": "Login API",
        "path": "/login",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "get",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "httpOptions": {
            "/login": {
                "get": {
                    "summary": "",
                    "description": "",
                    "consumes": [],
                    "produces": [],
                    "parameters": [],
                    "responses": {}
                }
            }
        },
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "category": "HTTP",
        "x": 92,
        "y": 286.953125,
        "wires": [
            [
                "sd_AmqU7zloOAgWRtbn"
            ]
        ],
        "__ssdTypeInputs__": {
            "uploadpath": {
                "type": "str",
                "value": "",
                "nullable": "true",
                "nullableValue": "",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "ids",
        "functionName": "sd_679s61EstmLzOGT7"
    },
    {
        "id": "sd_4wbkYYbEvAEVFPum",
        "type": "Script",
        "z": "sd_YBwPD1QoXPlA9xq1",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Create session details",
        "script": "bh.local.reqParams = {\n    state : crypto.randomBytes(16).toString('hex'),\n    nonce : crypto.randomBytes(16).toString('hex'),\n    isMobile : bh.input.query.isMobile,\n    redirectTo : bh.input.query.redirectTo\n};",
        "functionName": "sd_4wbkYYbEvAEVFPum",
        "category": "Function",
        "x": 618,
        "y": 168.21875,
        "wires": [
            [
                "sd_j5c4kUtWFENWOQkd"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_j5c4kUtWFENWOQkd",
        "type": "Session",
        "z": "sd_YBwPD1QoXPlA9xq1",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "operationType": "update",
        "data": "",
        "resultMapping": "",
        "dataMapping": "bh.local.reqParams",
        "functionName": "sd_j5c4kUtWFENWOQkd",
        "category": "HTTP",
        "x": 763,
        "y": 410,
        "wires": [
            [
                "sd_BeRL11bsQknDrkIk"
            ]
        ],
        "__ssdTypeInputs__": {
            "resultMapping": {
                "type": "bh.input",
                "value": ""
            },
            "dataMapping": {
                "type": "bh.local",
                "value": "reqParams"
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_gYnpNGtNgp9DrTcU",
        "type": "Script",
        "z": "sd_YBwPD1QoXPlA9xq1",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Calculate IDS login redirect URL",
        "script": "const authorizationRequest = Object.assign({\n    redirect_uri: url.resolve(bh.web.req.href, '/api/login/cb'),\n    scope: 'openid profile email address phone user',\n    state: bh.local.reqParams.state,\n    nonce: bh.local.reqParams.nonce,\n    response_type: bh.input.client.response_types[0],\n}, bh.input.authParams);\n\nbh.local.redirectHeaders = {\n    location: bh.input.client.authorizationUrl(authorizationRequest)\n};\n",
        "functionName": "sd_gYnpNGtNgp9DrTcU",
        "category": "Function",
        "x": 1194,
        "y": 160,
        "wires": [
            [
                "sd_viKipmWhHvq8Q3RY"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_BeRL11bsQknDrkIk",
        "type": "CallService",
        "z": "sd_YBwPD1QoXPlA9xq1",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Get IDS client instance",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "serviceId": "sd_YM9ojuHp2X7eERK1",
            "serviceName": "idsutil",
            "id": "sd_YM9ojuHp2X7eERK1",
            "label": "idsutil"
        },
        "flow": {
            "flowId": "sd_dON1Dj1WMdRBLSD1",
            "flowName": "getIDSClientInstance"
        },
        "inputVariables": [
            {
                "key": "clientInstance",
                "map": true,
                "valueType": "bh.input",
                "value": ""
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "input",
                "key": "clientInstance",
                "valueType": "bh.input",
                "value": "client",
                "mapVarName": "clientInstance",
                "localVar": "bh.input.client"
            }
        ],
        "callService": "./idsutil",
        "startName": "getIDSClientInstance",
        "inputParams": [
            null
        ],
        "accept_bh": false,
        "functionName": "sd_BeRL11bsQknDrkIk",
        "category": "General",
        "x": 903.8125,
        "y": 173.984375,
        "wires": [
            [
                "sd_uzyd31MLsbmsKCiq"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_viKipmWhHvq8Q3RY",
        "type": "HttpOut",
        "z": "sd_YBwPD1QoXPlA9xq1",
        "viewType": "server",
        "nodeType": "flow",
        "name": "Redirect to IDS",
        "headers": {
            "type": "bh.local",
            "value": "redirectHeaders",
            "ssd_typedInputField": true
        },
        "responseBody": {
            "type": "literal",
            "value": "'redirecting'",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "num",
            "value": "302",
            "ssd_typedInputField": true
        },
        "responseType": "obj",
        "responseMapping": {
            "status": 302,
            "obj": "'redirecting'",
            "send": "'redirecting'"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Value",
            "cookies": "Map"
        },
        "functionName": "sd_viKipmWhHvq8Q3RY",
        "category": "HTTP",
        "x": 1343,
        "y": 408,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_svKH7Jj8HmOwHqEi",
        "type": "Switch",
        "z": "sd_YBwPD1QoXPlA9xq1",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Check if client is registered",
        "property": "idsConfigured",
        "propertyType": "bh.local",
        "propertyGv": "bh.local.idsConfigured",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_svKH7Jj8HmOwHqEi",
        "category": "Function",
        "x": 388,
        "y": 286,
        "wires": [
            [
                "sd_4wbkYYbEvAEVFPum"
            ],
            [
                "sd_hy5XzoLDPHl0mxEC"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_AmqU7zloOAgWRtbn",
        "type": "Script",
        "z": "sd_YBwPD1QoXPlA9xq1",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Assert IDS config",
        "script": "bh.local.idsConfigured = false;\nif (settings.default.hasOwnProperty('ids') && settings.default['ids'].hasOwnProperty('client_id') &&\n    settings.default['ids'].hasOwnProperty('client_secret')) {\n    bh.local.idsConfigured = true;\n}",
        "functionName": "sd_AmqU7zloOAgWRtbn",
        "category": "Function",
        "x": 234,
        "y": 287,
        "wires": [
            [
                "sd_svKH7Jj8HmOwHqEi"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_2UOtW58QL3jywIU9",
        "type": "HttpOut",
        "z": "sd_YBwPD1QoXPlA9xq1",
        "viewType": "server",
        "nodeType": "flow",
        "name": "Send client not registered response",
        "headers": {},
        "responseBody": {
            "type": "literal",
            "value": "bh.local.res.message",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "num",
            "value": "404",
            "ssd_typedInputField": true
        },
        "responseType": "obj",
        "responseMapping": {
            "status": 404,
            "obj": "bh.local.res.message",
            "send": "bh.local.res.message"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_2UOtW58QL3jywIU9",
        "category": "HTTP",
        "x": 1341,
        "y": 286,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_hy5XzoLDPHl0mxEC",
        "type": "Script",
        "z": "sd_YBwPD1QoXPlA9xq1",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Client not registered object",
        "script": "bh.local.res = {\n    message: 'IDS client not registered. Register on the Neutrinos Stuido and try again'\n}",
        "functionName": "sd_hy5XzoLDPHl0mxEC",
        "category": "Function",
        "x": 617,
        "y": 291,
        "wires": [
            [
                "sd_2UOtW58QL3jywIU9"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_8RArjOpxTm8VM5UU",
        "type": "MiddlewareStart",
        "z": "sd_YBwPD1QoXPlA9xq1",
        "viewType": "server",
        "nodeType": "start",
        "name": "hrefstart",
        "inputs": 0,
        "outputs": 1,
        "category": "HTTP",
        "x": 517,
        "y": 691.796875,
        "wires": [
            [
                "sd_Fwm17Tf9vFYiOfsD"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "ids",
        "functionName": "sd_8RArjOpxTm8VM5UU"
    },
    {
        "id": "sd_LV9PzvtSFLME8xd2",
        "type": "MiddlewareEnd",
        "z": "sd_YBwPD1QoXPlA9xq1",
        "viewType": "server",
        "nodeType": "flow",
        "name": "Href end",
        "headers": {},
        "responseBody": {
            "type": "literal",
            "value": "'end'",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "num",
            "value": "200",
            "ssd_typedInputField": true
        },
        "responseType": "next",
        "responseMapping": {
            "status": 200,
            "next": "'end'"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_LV9PzvtSFLME8xd2",
        "category": "HTTP",
        "x": 819.890625,
        "y": 692.796875,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_Fwm17Tf9vFYiOfsD",
        "type": "Script",
        "z": "sd_YBwPD1QoXPlA9xq1",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Calculate href",
        "script": "const protocol = bh.input.headers['x-forwarded-proto'] || bh.web.req.protocol;\nconst href = protocol + \"://\" + bh.web.req.get('Host') + bh.web.req.originalUrl;\nbh.web.req.href = href;",
        "functionName": "sd_Fwm17Tf9vFYiOfsD",
        "category": "Function",
        "x": 665,
        "y": 692.78125,
        "wires": [
            [
                "sd_LV9PzvtSFLME8xd2"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_uzyd31MLsbmsKCiq",
        "type": "CallService",
        "z": "sd_YBwPD1QoXPlA9xq1",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Get Scope and consent values",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "serviceId": "sd_YM9ojuHp2X7eERK1",
            "serviceName": "idsutil",
            "id": "sd_YM9ojuHp2X7eERK1",
            "label": "idsutil"
        },
        "flow": {
            "flowId": "sd_CEzsFFGcYN0WtzRK",
            "flowName": "Get Authorization Params"
        },
        "inputVariables": [
            {
                "key": "authParams",
                "map": false,
                "value": ""
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "input",
                "key": "authParams",
                "valueType": "bh.input",
                "value": "authParams",
                "mapVarName": "authParams",
                "localVar": "bh.input.authParams"
            }
        ],
        "callService": "./idsutil",
        "startName": "getAuthorizationParams",
        "inputParams": [
            ""
        ],
        "accept_bh": false,
        "functionName": "sd_uzyd31MLsbmsKCiq",
        "category": "General",
        "x": 1051,
        "y": 415.78125,
        "wires": [
            [
                "sd_gYnpNGtNgp9DrTcU"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_jh2j2Gy5UlylXCPj",
        "type": "HttpIn",
        "z": "sd_YBwPD1QoXPlA9xq1",
        "viewType": "server",
        "nodeType": "start",
        "name": "Login Callback API",
        "path": "/login/cb",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "get",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "httpOptions": {
            "/login/cb": {
                "get": {
                    "summary": "",
                    "description": "",
                    "consumes": [],
                    "produces": [],
                    "parameters": [],
                    "responses": {}
                }
            }
        },
        "uploadFileOptions": {},
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "category": "HTTP",
        "x": 88.890625,
        "y": 1038.796875,
        "wires": [
            [
                "sd_e59ToPltrkowT3JW"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "ids",
        "functionName": "sd_jh2j2Gy5UlylXCPj"
    },
    {
        "id": "sd_dxYCwQkBPVE4oKA6",
        "type": "CallService",
        "z": "sd_YBwPD1QoXPlA9xq1",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Get IDS client instance",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "serviceId": "sd_YM9ojuHp2X7eERK1",
            "serviceName": "idsutil",
            "id": "sd_YM9ojuHp2X7eERK1",
            "label": "idsutil"
        },
        "flow": {
            "flowId": "sd_dON1Dj1WMdRBLSD1",
            "flowName": "getIDSClientInstance"
        },
        "inputVariables": [
            {
                "key": "clientInstance",
                "map": true,
                "valueType": "bh.input",
                "value": ""
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "input",
                "key": "clientInstance",
                "valueType": "bh.input",
                "value": "client",
                "mapVarName": "clientInstance",
                "localVar": "bh.input.client"
            }
        ],
        "callService": "./idsutil",
        "startName": "getIDSClientInstance",
        "inputParams": [
            null
        ],
        "accept_bh": false,
        "functionName": "sd_dxYCwQkBPVE4oKA6",
        "category": "General",
        "x": 453,
        "y": 1036.8125,
        "wires": [
            [
                "sd_XlhDW0aOyVuzNwWO"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_XlhDW0aOyVuzNwWO",
        "type": "Script",
        "z": "sd_YBwPD1QoXPlA9xq1",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Get userinfo and tokens ",
        "script": "const params = bh.input.client.callbackParams(bh.web.req);\nlet tokenset = await bh.input.client.callback(url.resolve(bh.web.req.href, 'cb'), params, {\n    'nonce': bh.input.sessionParams.data.nonce,\n    'state': bh.input.sessionParams.data.state\n});\n\nbh.local.redirectTo = bh.input.sessionParams.data.redirectTo\n\nbh.local.userDetails = {\n    tokenset: Object.assign({}, tokenset),\n    userInfo: await bh.input.client.userinfo(tokenset['access_token'])\n}\nbh.local.userDetails['tokenset']['claims'] = Object.assign({}, tokenset.claims());",
        "functionName": "sd_XlhDW0aOyVuzNwWO",
        "category": "Function",
        "x": 616,
        "y": 1036.78125,
        "wires": [
            [
                "sd_Wlnx4vijTBX8naD8"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_e59ToPltrkowT3JW",
        "type": "Session",
        "z": "sd_YBwPD1QoXPlA9xq1",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "operationType": "get",
        "data": "",
        "resultMapping": "bh.input.sessionParams",
        "dataMapping": "",
        "functionName": "sd_e59ToPltrkowT3JW",
        "category": "HTTP",
        "x": 262,
        "y": 1038.796875,
        "wires": [
            [
                "sd_dxYCwQkBPVE4oKA6"
            ]
        ],
        "__ssdTypeInputs__": {
            "resultMapping": {
                "type": "bh.input",
                "value": "sessionParams"
            },
            "dataMapping": {
                "type": "bh.input",
                "value": ""
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_bkqLgOYKZscVnVjO",
        "type": "Switch",
        "z": "sd_YBwPD1QoXPlA9xq1",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Send response based on device type",
        "property": "sessionParams.data.isMobile",
        "propertyType": "bh.input",
        "propertyGv": "bh.input.sessionParams.data.isMobile",
        "rules": [
            {
                "t": "se",
                "v": "true",
                "vt": "str",
                "gv": "\"true\""
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_bkqLgOYKZscVnVjO",
        "category": "Function",
        "x": 1001,
        "y": 1035.78125,
        "wires": [
            [
                "sd_Ga5TyGE309BEhoSV"
            ],
            [
                "sd_MMqF1fEWLXxxTHEi"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_Ga5TyGE309BEhoSV",
        "type": "Script",
        "z": "sd_YBwPD1QoXPlA9xq1",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Mobile html response",
        "script": "bh.local.htmlResponse = `\n <html>\n   <script>\n      let _timer;\n      _timer = setInterval(() => {\n                  if(window.webkit) {\n                      window.webkit.messageHandlers.cordova_iab.postMessage(JSON.stringify({'auth': 'success'}));\n                      clearInterval(_timer);\n                  }\n              }, 250);\n      \n   </script>\n</html>`;",
        "functionName": "sd_Ga5TyGE309BEhoSV",
        "category": "Function",
        "x": 1229.390643119812,
        "y": 891.2812614440918,
        "wires": [
            [
                "sd_6wudAgA4KOrElYji"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_MMqF1fEWLXxxTHEi",
        "type": "Script",
        "z": "sd_YBwPD1QoXPlA9xq1",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Add location in headers obj",
        "script": "bh.local.redirectHeaders = {\n    location: bh.local.redirectTo\n}",
        "functionName": "sd_MMqF1fEWLXxxTHEi",
        "category": "Function",
        "x": 1218.890640258789,
        "y": 1152.5312690734863,
        "wires": [
            [
                "sd_pZpR5XCtDElwVew1"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_6wudAgA4KOrElYji",
        "type": "HttpOut",
        "z": "sd_YBwPD1QoXPlA9xq1",
        "viewType": "server",
        "nodeType": "flow",
        "name": "Html response to close in app browser",
        "headers": {
            "Content-Security-Policy": "script-src 'sha256-wcX+PzUovy0uNFqMGCbbbzuT5v4aAxU9obFNyt6BHAQ='"
        },
        "responseBody": {
            "type": "bh.local",
            "value": "htmlResponse",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "num",
            "value": "200",
            "ssd_typedInputField": true
        },
        "responseType": "txt",
        "responseMapping": {
            "status": 200,
            "txt": "bh.local.htmlResponse",
            "send": "bh.local.htmlResponse"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": [
                {
                    "key": "Content-Security-Policy",
                    "value": "script-src 'sha256-wcX+PzUovy0uNFqMGCbbbzuT5v4aAxU9obFNyt6BHAQ='",
                    "rowId": "sd_VZ8YSISw5G2Kbppv",
                    "valid": true
                }
            ]
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_6wudAgA4KOrElYji",
        "category": "HTTP",
        "x": 1488.500020980835,
        "y": 1141.781265258789,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_pZpR5XCtDElwVew1",
        "type": "HttpOut",
        "z": "sd_YBwPD1QoXPlA9xq1",
        "viewType": "server",
        "nodeType": "flow",
        "name": "Redirect back to app",
        "headers": {
            "type": "bh.local",
            "value": "redirectHeaders",
            "ssd_typedInputField": true
        },
        "responseBody": {
            "type": "literal",
            "value": "'Redirecting'",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "num",
            "value": "302",
            "ssd_typedInputField": true
        },
        "responseType": "txt",
        "responseMapping": {
            "status": 302,
            "txt": "'Redirecting'",
            "send": "'Redirecting'"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Value",
            "cookies": "Map"
        },
        "functionName": "sd_pZpR5XCtDElwVew1",
        "category": "HTTP",
        "x": 1483.000020980835,
        "y": 903.2812633514404,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_Wlnx4vijTBX8naD8",
        "type": "Session",
        "z": "sd_YBwPD1QoXPlA9xq1",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "operationType": "update",
        "data": "",
        "resultMapping": "",
        "dataMapping": "bh.local.userDetails",
        "functionName": "sd_Wlnx4vijTBX8naD8",
        "category": "HTTP",
        "x": 792,
        "y": 1036.78125,
        "wires": [
            [
                "sd_bkqLgOYKZscVnVjO"
            ]
        ],
        "__ssdTypeInputs__": {
            "resultMapping": {
                "type": "bh.input",
                "value": ""
            },
            "dataMapping": {
                "type": "bh.local",
                "value": "userDetails"
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_5bvs64gz54UvkmL0",
        "type": "HttpIn",
        "z": "sd_YBwPD1QoXPlA9xq1",
        "viewType": "server",
        "nodeType": "start",
        "name": "Get userinfo",
        "path": "/user/info",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "get",
        "sequenceId": "IDSAuthroizedAPIs",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "httpOptions": {
            "/user/info": {
                "get": {
                    "summary": "",
                    "description": "",
                    "consumes": [],
                    "produces": [],
                    "parameters": [],
                    "responses": {}
                }
            }
        },
        "uploadFileOptions": {},
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "category": "HTTP",
        "x": 455.8125057220459,
        "y": 2060.734405517578,
        "wires": [
            [
                "sd_DCqBYTvbUkmu5kE7"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "ids",
        "functionName": "sd_5bvs64gz54UvkmL0"
    },
    {
        "id": "sd_DCqBYTvbUkmu5kE7",
        "type": "Session",
        "z": "sd_YBwPD1QoXPlA9xq1",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "operationType": "get",
        "data": "",
        "resultMapping": "bh.local.session",
        "dataMapping": "",
        "functionName": "sd_DCqBYTvbUkmu5kE7",
        "category": "HTTP",
        "x": 653.0000057220459,
        "y": 2060.781280517578,
        "wires": [
            [
                "sd_gv6JQNuJBSZkIWap"
            ]
        ],
        "__ssdTypeInputs__": {
            "resultMapping": {
                "type": "bh.local",
                "value": "session"
            },
            "dataMapping": {
                "type": "bh.input",
                "value": ""
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_gv6JQNuJBSZkIWap",
        "type": "HttpOut",
        "z": "sd_YBwPD1QoXPlA9xq1",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "headers": {},
        "responseBody": {
            "type": "bh.local",
            "value": "session.data.userInfo",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "num",
            "value": "200",
            "ssd_typedInputField": true
        },
        "responseType": "obj",
        "responseMapping": {
            "status": 200,
            "obj": "bh.local.session.data.userInfo",
            "send": "bh.local.session.data.userInfo"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_gv6JQNuJBSZkIWap",
        "category": "HTTP",
        "x": 819.0000057220459,
        "y": 2060.781280517578,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_ZNUSMRJ36vIfOuRt",
        "type": "Catch",
        "z": "sd_YBwPD1QoXPlA9xq1",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "selectedNodes": [
            "sd_uzyd31MLsbmsKCiq",
            "sd_jh2j2Gy5UlylXCPj",
            "sd_dxYCwQkBPVE4oKA6",
            "sd_XlhDW0aOyVuzNwWO",
            "sd_e59ToPltrkowT3JW",
            "sd_bkqLgOYKZscVnVjO",
            "sd_Ga5TyGE309BEhoSV",
            "sd_MMqF1fEWLXxxTHEi",
            "sd_6wudAgA4KOrElYji",
            "sd_pZpR5XCtDElwVew1"
        ],
        "selectCatchType": "selectednodes",
        "masternodeList": "",
        "ignoreList": "",
        "functionName": "sd_ZNUSMRJ36vIfOuRt",
        "category": "General",
        "x": 98.89062976837158,
        "y": 1233.0000343322754,
        "wires": [
            [
                "sd_RTSilCkyYe9iA2NT"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_RTSilCkyYe9iA2NT",
        "type": "Script",
        "z": "sd_YBwPD1QoXPlA9xq1",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Redirect back to login",
        "script": "bh.web.res.redirect('/api/login')",
        "functionName": "sd_RTSilCkyYe9iA2NT",
        "category": "Function",
        "x": 262.50000381469727,
        "y": 1231.0312690734863,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_Vdu9Fog7aP5LrtHK",
        "type": "HttpIn",
        "z": "sd_YBwPD1QoXPlA9xq1",
        "viewType": "server",
        "nodeType": "start",
        "name": "Logout API",
        "path": "/logout",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "get",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "httpOptions": {
            "/logout": {
                "get": {
                    "summary": "",
                    "description": "",
                    "consumes": [],
                    "produces": [],
                    "parameters": [],
                    "responses": {}
                }
            }
        },
        "uploadFileOptions": {},
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "category": "HTTP",
        "x": 79.890625,
        "y": 1679.796875,
        "wires": [
            [
                "sd_JDnrgq4iKhgcNL8w"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "ids",
        "functionName": "sd_Vdu9Fog7aP5LrtHK"
    },
    {
        "id": "sd_JDnrgq4iKhgcNL8w",
        "type": "Session",
        "z": "sd_YBwPD1QoXPlA9xq1",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "operationType": "get",
        "data": "",
        "resultMapping": "bh.local.sessionData",
        "dataMapping": "",
        "functionName": "sd_JDnrgq4iKhgcNL8w",
        "category": "HTTP",
        "x": 249,
        "y": 1679.78125,
        "wires": [
            [
                "sd_tFb795paHsOeYcNC"
            ]
        ],
        "__ssdTypeInputs__": {
            "resultMapping": {
                "type": "bh.local",
                "value": "sessionData"
            },
            "dataMapping": {
                "type": "bh.input",
                "value": ""
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_tFb795paHsOeYcNC",
        "type": "Script",
        "z": "sd_YBwPD1QoXPlA9xq1",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "\nbh.local.sessionExists = false;\nif (bh.local.sessionData && bh.local.sessionData.data && bh.local.sessionData.data.tokenset) {\n    bh.local.sessionData['data']['redirectTo'] = bh.input.query['redirectTo'];\n    bh.local.sessionData['data']['isMobile'] = bh.input.query['isMobile'];\n    bh.local.sessionExists = true;\n} else {\n    delete bh.local.sessionData['redirectTo'];\n}",
        "functionName": "sd_tFb795paHsOeYcNC",
        "category": "Function",
        "x": 413,
        "y": 1678.78125,
        "wires": [
            [
                "sd_uoXTzHqGlhZ8BTXV"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_D1M3otx4nGx0g3os",
        "type": "Switch",
        "z": "sd_YBwPD1QoXPlA9xq1",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Session exists ",
        "property": "sessionExists",
        "propertyType": "bh.local",
        "propertyGv": "bh.local.sessionExists",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_D1M3otx4nGx0g3os",
        "category": "Function",
        "x": 885,
        "y": 1680,
        "wires": [
            [
                "sd_dmi45ROBZzS4nU18"
            ],
            [
                "sd_KcPAkM7l4GFiMSZM"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_dmi45ROBZzS4nU18",
        "type": "Script",
        "z": "sd_YBwPD1QoXPlA9xq1",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "await Promise.all([\n    bh.local.sessionData.data.tokenset.access_token ? bh.input.client.revoke(bh.local.sessionData.data.tokenset.access_token, 'access_token') : undefined,\n    bh.local.sessionData.data.tokenset.refresh_token ? bh.input.client.revoke(bh.local.sessionData.data.tokenset.refresh_token, 'refresh_token') : undefined,\n]);\n\nbh.local.res = {\n        'idsURL': url.format(Object.assign(url.parse(bh.input.client.issuer.end_session_endpoint), {\n            search: null,\n            query: {\n                id_token_hint: bh.local.sessionData.data.tokenset.id_token,\n                post_logout_redirect_uri: url.resolve(bh.web.req.href, '/api/logout/cb'),\n                client_id: settings.default['ids']['client_id']\n            },\n        })),\n        'sessionExists': true,\n}\n\n// Remove user info and tokenset before login redirect\nbh.local.sessionData.data.tokenset = null;\nbh.local.sessionData.data.userInfo = null;",
        "functionName": "sd_dmi45ROBZzS4nU18",
        "category": "Function",
        "x": 1045,
        "y": 1560,
        "wires": [
            [
                "sd_dCWCI7Lqpk6tk1KJ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_uoXTzHqGlhZ8BTXV",
        "type": "CallService",
        "z": "sd_YBwPD1QoXPlA9xq1",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Get IDS client instance",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "serviceId": "sd_YM9ojuHp2X7eERK1",
            "serviceName": "idsutil",
            "id": "sd_YM9ojuHp2X7eERK1",
            "label": "idsutil"
        },
        "flow": {
            "flowId": "sd_dON1Dj1WMdRBLSD1",
            "flowName": "getIDSClientInstance"
        },
        "inputVariables": [
            {
                "key": "clientInstance",
                "map": true,
                "valueType": "bh.input",
                "value": ""
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "input",
                "key": "clientInstance",
                "valueType": "bh.input",
                "value": "client",
                "mapVarName": "clientInstance",
                "localVar": "bh.input.client"
            }
        ],
        "callService": "./idsutil",
        "startName": "getIDSClientInstance",
        "inputParams": [
            null
        ],
        "accept_bh": false,
        "functionName": "sd_uoXTzHqGlhZ8BTXV",
        "category": "General",
        "x": 645,
        "y": 1680,
        "wires": [
            [
                "sd_D1M3otx4nGx0g3os"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_LO7p84BPWnLOZ7Yw",
        "type": "HttpOut",
        "z": "sd_YBwPD1QoXPlA9xq1",
        "viewType": "server",
        "nodeType": "flow",
        "name": "Send IDS logout Url",
        "headers": {},
        "responseBody": {
            "type": "bh.local",
            "value": "res",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "num",
            "value": "200",
            "ssd_typedInputField": true
        },
        "responseType": "obj",
        "responseMapping": {
            "status": 200,
            "obj": "bh.local.res",
            "send": "bh.local.res"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_LO7p84BPWnLOZ7Yw",
        "category": "HTTP",
        "x": 1345,
        "y": 1680,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_KcPAkM7l4GFiMSZM",
        "type": "Script",
        "z": "sd_YBwPD1QoXPlA9xq1",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local.res = {\n        'sessionExists': false,\n}",
        "functionName": "sd_KcPAkM7l4GFiMSZM",
        "category": "Function",
        "x": 1113.250015258789,
        "y": 1790.5312767028809,
        "wires": [
            [
                "sd_LO7p84BPWnLOZ7Yw"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_9hdcn2gt26XWX5ZU",
        "type": "HttpIn",
        "z": "sd_YBwPD1QoXPlA9xq1",
        "viewType": "server",
        "nodeType": "start",
        "name": "Logout Callback API",
        "path": "/logout/cb",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "get",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "httpOptions": {
            "/logout/cb": {
                "get": {
                    "summary": "",
                    "description": "",
                    "consumes": [],
                    "produces": [],
                    "parameters": [],
                    "responses": {}
                }
            }
        },
        "uploadFileOptions": {},
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "category": "HTTP",
        "x": 163.1406421661377,
        "y": 2441.0469074249268,
        "wires": [
            [
                "sd_5fR0zIiNsgThFcG5"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "ids",
        "functionName": "sd_9hdcn2gt26XWX5ZU"
    },
    {
        "id": "sd_5fR0zIiNsgThFcG5",
        "type": "Session",
        "z": "sd_YBwPD1QoXPlA9xq1",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "operationType": "get",
        "data": "",
        "resultMapping": "bh.local.sessionData",
        "dataMapping": "",
        "functionName": "sd_5fR0zIiNsgThFcG5",
        "category": "HTTP",
        "x": 347.2500171661377,
        "y": 2442.0312824249268,
        "wires": [
            [
                "sd_fUVepFiHvcKsJawW"
            ]
        ],
        "__ssdTypeInputs__": {
            "resultMapping": {
                "type": "bh.local",
                "value": "sessionData"
            },
            "dataMapping": {
                "type": "bh.input",
                "value": ""
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_fE3SwhkNiYabXesN",
        "type": "Switch",
        "z": "sd_YBwPD1QoXPlA9xq1",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Check platform type",
        "property": "sessionData.data.isMobile",
        "propertyType": "bh.local",
        "propertyGv": "bh.local.sessionData.data.isMobile",
        "rules": [
            {
                "t": "se",
                "v": "true",
                "vt": "str",
                "gv": "\"true\""
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_fE3SwhkNiYabXesN",
        "category": "Function",
        "x": 665.2500171661377,
        "y": 2442.0312824249268,
        "wires": [
            [
                "sd_sdoGceRCwH86Q4QB"
            ],
            [
                "sd_yzNhLrwbtR8WLbc0"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_sdoGceRCwH86Q4QB",
        "type": "Script",
        "z": "sd_YBwPD1QoXPlA9xq1",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local.res = \n`<html>\n   <script>\n      var _timer;\n      _timer = setInterval(() => {\n                  if(window.webkit) {\n                      window.webkit.messageHandlers.cordova_iab.postMessage(JSON.stringify({'auth': 'success'}));\n                      clearInterval(_timer);\n                  }\n              }, 250);\n      \n   </script>\n</html>`;",
        "functionName": "sd_sdoGceRCwH86Q4QB",
        "category": "Function",
        "x": 850.2500171661377,
        "y": 2516.0312824249268,
        "wires": [
            [
                "sd_h7PmEPkF40Hj353H"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_h7PmEPkF40Hj353H",
        "type": "HttpOut",
        "z": "sd_YBwPD1QoXPlA9xq1",
        "viewType": "server",
        "nodeType": "flow",
        "name": "Send html response",
        "headers": {
            "Content-Security-Policy": "script 'sha256-j4HHWBMKh2PoLEAu017BWktgUmmL7VVMjnHuNWUHGOg='"
        },
        "responseBody": {
            "type": "bh.local",
            "value": "res",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "num",
            "value": "200",
            "ssd_typedInputField": true
        },
        "responseType": "obj",
        "responseMapping": {
            "status": 200,
            "obj": "bh.local.res",
            "send": "bh.local.res"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": [
                {
                    "key": "Content-Security-Policy",
                    "value": "script 'sha256-j4HHWBMKh2PoLEAu017BWktgUmmL7VVMjnHuNWUHGOg='",
                    "rowId": "sd_1rEodKaPhq3Yygas",
                    "valid": true
                }
            ]
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_h7PmEPkF40Hj353H",
        "category": "HTTP",
        "x": 1083.2500171661377,
        "y": 2315.0312824249268,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_yzNhLrwbtR8WLbc0",
        "type": "Script",
        "z": "sd_YBwPD1QoXPlA9xq1",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local.redirectHeaders = {\n    location: bh.local.sessionData.data.redirectTo\n}",
        "functionName": "sd_yzNhLrwbtR8WLbc0",
        "category": "Function",
        "x": 849.2500171661377,
        "y": 2337.0312824249268,
        "wires": [
            [
                "sd_PXv6PmBbxBtDQAYf"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_PXv6PmBbxBtDQAYf",
        "type": "HttpOut",
        "z": "sd_YBwPD1QoXPlA9xq1",
        "viewType": "server",
        "nodeType": "flow",
        "name": "Redirect back to app",
        "headers": {
            "type": "bh.local",
            "value": "redirectHeaders",
            "ssd_typedInputField": true
        },
        "responseBody": {
            "type": "literal",
            "value": "'redirecting'",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "num",
            "value": "302",
            "ssd_typedInputField": true
        },
        "responseType": "txt",
        "responseMapping": {
            "status": 302,
            "txt": "'redirecting'",
            "send": "'redirecting'"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Value",
            "cookies": "Map"
        },
        "functionName": "sd_PXv6PmBbxBtDQAYf",
        "category": "HTTP",
        "x": 1089.2500171661377,
        "y": 2516.0312824249268,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_fUVepFiHvcKsJawW",
        "type": "Session",
        "z": "sd_YBwPD1QoXPlA9xq1",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "operationType": "destroy",
        "data": "",
        "resultMapping": "",
        "dataMapping": "",
        "functionName": "sd_fUVepFiHvcKsJawW",
        "category": "HTTP",
        "x": 519.2500171661377,
        "y": 2442.0312824249268,
        "wires": [
            [
                "sd_fE3SwhkNiYabXesN"
            ]
        ],
        "__ssdTypeInputs__": {
            "resultMapping": {
                "type": "bh.input",
                "value": ""
            },
            "dataMapping": {
                "type": "bh.input",
                "value": ""
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_mXN9m1uWg4HQaZyE",
        "type": "MiddlewareStart",
        "z": "sd_YBwPD1QoXPlA9xq1",
        "viewType": "server",
        "nodeType": "start",
        "name": "Authorize",
        "inputs": 0,
        "outputs": 1,
        "category": "HTTP",
        "x": 80.8125,
        "y": 3182.71875,
        "wires": [
            [
                "sd_tNPlwKXHFHZyc1bx"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "ids",
        "functionName": "sd_mXN9m1uWg4HQaZyE"
    },
    {
        "id": "sd_H1biJy03Yrd7Vg3V",
        "type": "Session",
        "z": "sd_YBwPD1QoXPlA9xq1",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "operationType": "get",
        "data": "",
        "resultMapping": "bh.local.sessionData",
        "dataMapping": "",
        "functionName": "sd_H1biJy03Yrd7Vg3V",
        "category": "HTTP",
        "x": 386,
        "y": 3178.78125,
        "wires": [
            [
                "sd_SGs1kZNBUfDHwWwd"
            ]
        ],
        "__ssdTypeInputs__": {
            "resultMapping": {
                "type": "bh.local",
                "value": "sessionData"
            },
            "dataMapping": {
                "type": "bh.input",
                "value": ""
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_6VTL3J2PvssZXtXL",
        "type": "Switch",
        "z": "sd_YBwPD1QoXPlA9xq1",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Check if session exists",
        "property": "sessionExists",
        "propertyType": "bh.local",
        "propertyGv": "bh.local.sessionExists",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_6VTL3J2PvssZXtXL",
        "category": "Function",
        "x": 679,
        "y": 3173.78125,
        "wires": [
            [
                "sd_c9Ur6oPkt2357zT7"
            ],
            [
                "sd_hGm6Jexh0UQdIstD"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_hGm6Jexh0UQdIstD",
        "type": "Switch",
        "z": "sd_YBwPD1QoXPlA9xq1",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Check if it is the user info API.",
        "property": "path",
        "propertyType": "bh.input",
        "propertyGv": "bh.input.path",
        "rules": [
            {
                "t": "cont",
                "v": "/user/info",
                "vt": "str",
                "gv": "\"/user/info\""
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_hGm6Jexh0UQdIstD",
        "category": "Function",
        "x": 641,
        "y": 3388.78125,
        "wires": [
            [
                "sd_FXcyGBTwxF9VFYLM"
            ],
            [
                "sd_xQ0VvBVb2kP48mKZ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_F8iCjCeZ6Ll8CUcI",
        "type": "HttpOut",
        "z": "sd_YBwPD1QoXPlA9xq1",
        "viewType": "server",
        "nodeType": "flow",
        "name": "Send the session not present response",
        "headers": {},
        "responseBody": {
            "type": "bh.local",
            "value": "res",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "num",
            "value": "403",
            "ssd_typedInputField": true
        },
        "responseType": "obj",
        "responseMapping": {
            "status": 403,
            "obj": "bh.local.res",
            "send": "bh.local.res"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_F8iCjCeZ6Ll8CUcI",
        "category": "HTTP",
        "x": 1205,
        "y": 3366.78125,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_FXcyGBTwxF9VFYLM",
        "type": "Script",
        "z": "sd_YBwPD1QoXPlA9xq1",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local.res = { message: 'Session expired' };",
        "functionName": "sd_FXcyGBTwxF9VFYLM",
        "category": "Function",
        "x": 892.890625,
        "y": 3386.78125,
        "wires": [
            [
                "sd_F8iCjCeZ6Ll8CUcI"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_xQ0VvBVb2kP48mKZ",
        "type": "Script",
        "z": "sd_YBwPD1QoXPlA9xq1",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local.res = { code: 'NO_SESSION', message: 'Session not present' };",
        "functionName": "sd_xQ0VvBVb2kP48mKZ",
        "category": "Function",
        "x": 885,
        "y": 3522.8125,
        "wires": [
            [
                "sd_F8iCjCeZ6Ll8CUcI"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_wRco9y49CXPSQ2Cg",
        "type": "Switch",
        "z": "sd_YBwPD1QoXPlA9xq1",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Token exists after refresh",
        "property": "newSession",
        "propertyType": "bh.local",
        "propertyGv": "bh.local.newSession",
        "rules": [
            {
                "t": "false"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_wRco9y49CXPSQ2Cg",
        "category": "Function",
        "x": 846,
        "y": 2953.78125,
        "wires": [
            [
                "sd_MdY4YHzVV7Ulf6dz"
            ],
            [
                "sd_Znq1huBwvxLIegJZ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_4CUKKkTHbYdgOqhW",
        "type": "MiddlewareEnd",
        "z": "sd_YBwPD1QoXPlA9xq1",
        "viewType": "server",
        "nodeType": "flow",
        "name": "Authorize end",
        "headers": {},
        "responseBody": {
            "type": "literal",
            "value": "'end'",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "num",
            "value": "200",
            "ssd_typedInputField": true
        },
        "responseType": "next",
        "responseMapping": {
            "status": 200,
            "next": "'end'"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_4CUKKkTHbYdgOqhW",
        "category": "HTTP",
        "x": 1484,
        "y": 2956.703125,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_L0j7WUD6LuRk6i4U",
        "type": "Script",
        "z": "sd_YBwPD1QoXPlA9xq1",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local.res = { code: 'TOKEN_EXPIRED', message: 'Token invalid or access revoked' };",
        "functionName": "sd_L0j7WUD6LuRk6i4U",
        "category": "Function",
        "x": 884,
        "y": 3259.78125,
        "wires": [
            [
                "sd_F8iCjCeZ6Ll8CUcI"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_c9Ur6oPkt2357zT7",
        "type": "CallService",
        "z": "sd_YBwPD1QoXPlA9xq1",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Call handleTokenExpiry",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "serviceId": "sd_YM9ojuHp2X7eERK1",
            "serviceName": "idsutil",
            "id": "sd_YM9ojuHp2X7eERK1",
            "label": "idsutil"
        },
        "flow": {
            "flowId": "sd_NdcADa72KE2SMkcT",
            "flowName": "handleTokenExpiry"
        },
        "inputVariables": [
            {
                "key": "existingSession",
                "map": true,
                "valueType": "bh.local",
                "value": "sessionData"
            },
            {
                "key": "newSession",
                "map": true,
                "valueType": "bh.input",
                "value": ""
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "input",
                "key": "newSession",
                "valueType": "bh.local",
                "value": "newSession",
                "mapVarName": "newSession",
                "localVar": "bh.local.newSession"
            }
        ],
        "callService": "./idsutil",
        "startName": "handleTokenExpiry",
        "inputParams": [
            "bh.local.sessionData",
            null
        ],
        "accept_bh": false,
        "functionName": "sd_c9Ur6oPkt2357zT7",
        "category": "General",
        "x": 631,
        "y": 2951.78125,
        "wires": [
            [
                "sd_wRco9y49CXPSQ2Cg"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_tNPlwKXHFHZyc1bx",
        "type": "Script",
        "z": "sd_YBwPD1QoXPlA9xq1",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local = {\n    \n}",
        "functionName": "sd_tNPlwKXHFHZyc1bx",
        "category": "Function",
        "x": 227.890625,
        "y": 3180.78125,
        "wires": [
            [
                "sd_H1biJy03Yrd7Vg3V"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_SGs1kZNBUfDHwWwd",
        "type": "Script",
        "z": "sd_YBwPD1QoXPlA9xq1",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local.sessionExists = false;\n\nif (bh.local.sessionData && bh.local.sessionData.data && bh.local.sessionData.data.tokenset &&\n    bh.local.sessionData.data.tokenset.access_token && bh.local.sessionData.data.tokenset.refresh_token) {\n    bh.local.sessionExists = true;\n}",
        "functionName": "sd_SGs1kZNBUfDHwWwd",
        "category": "Function",
        "x": 550,
        "y": 3178.78125,
        "wires": [
            [
                "sd_6VTL3J2PvssZXtXL"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_MdY4YHzVV7Ulf6dz",
        "type": "Session",
        "z": "sd_YBwPD1QoXPlA9xq1",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "operationType": "destroy",
        "data": "",
        "resultMapping": "",
        "dataMapping": "",
        "functionName": "sd_MdY4YHzVV7Ulf6dz",
        "category": "HTTP",
        "x": 887,
        "y": 3093.78125,
        "wires": [
            [
                "sd_L0j7WUD6LuRk6i4U"
            ]
        ],
        "__ssdTypeInputs__": {
            "resultMapping": {
                "type": "bh.input",
                "value": ""
            },
            "dataMapping": {
                "type": "bh.input",
                "value": ""
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_Znq1huBwvxLIegJZ",
        "type": "Switch",
        "z": "sd_YBwPD1QoXPlA9xq1",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Update session if token rotated",
        "property": "newSession.rotated",
        "propertyType": "bh.local",
        "propertyGv": "bh.local.newSession.rotated",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_Znq1huBwvxLIegJZ",
        "category": "Function",
        "x": 1051,
        "y": 2956.78125,
        "wires": [
            [
                "sd_5L1OWzFDhBPmNazq"
            ],
            [
                "sd_4CUKKkTHbYdgOqhW"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_lpgw97ExxlpHmHcr",
        "type": "Session",
        "z": "sd_YBwPD1QoXPlA9xq1",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "operationType": "update",
        "data": "",
        "resultMapping": "bh.local.newSession",
        "dataMapping": "bh.local.newSession",
        "functionName": "sd_lpgw97ExxlpHmHcr",
        "category": "HTTP",
        "x": 1331,
        "y": 2827.78125,
        "wires": [
            [
                "sd_4CUKKkTHbYdgOqhW"
            ]
        ],
        "__ssdTypeInputs__": {
            "resultMapping": {
                "type": "bh.local",
                "value": "newSession"
            },
            "dataMapping": {
                "type": "bh.local",
                "value": "newSession"
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_5L1OWzFDhBPmNazq",
        "type": "Script",
        "z": "sd_YBwPD1QoXPlA9xq1",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "delete bh.local.newSession.rotated;",
        "functionName": "sd_5L1OWzFDhBPmNazq",
        "category": "Function",
        "x": 1192,
        "y": 2827.78125,
        "wires": [
            [
                "sd_lpgw97ExxlpHmHcr"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_59lhWOweqrwT8ZDp",
        "type": "Comments",
        "z": "sd_YBwPD1QoXPlA9xq1",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Idenity Server Login API",
        "comments": "<p>API used to authenticate users.</p>",
        "category": "General",
        "x": 685,
        "y": 58.78125,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": true
    },
    {
        "id": "sd_2acCM5TCRGf1Njki",
        "type": "Comments",
        "z": "sd_YBwPD1QoXPlA9xq1",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Flow to add href to bh of the Origin",
        "comments": "",
        "category": "General",
        "x": 664,
        "y": 590.78125,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": true
    },
    {
        "id": "sd_RxiJfTmdskBb5lfn",
        "type": "Comments",
        "z": "sd_YBwPD1QoXPlA9xq1",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Login Callback API",
        "comments": "<p>After authentication, this is the API called by IDS to get Access token and user info</p>",
        "category": "General",
        "x": 685,
        "y": 897.2265625,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": true
    },
    {
        "id": "sd_VjQlvdZvMUpgOIfw",
        "type": "Comments",
        "z": "sd_YBwPD1QoXPlA9xq1",
        "viewType": "common",
        "nodeType": "flow",
        "name": "IDS Logout API",
        "comments": "<p>API to redirect the user to IDS Logout page</p>",
        "category": "General",
        "x": 720.0000114440918,
        "y": 1527.226583480835,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": true
    },
    {
        "id": "sd_QLdgkds6T0JCPkiQ",
        "type": "Comments",
        "z": "sd_YBwPD1QoXPlA9xq1",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Fetch user info",
        "comments": "The API called by neutrinos-oauth-client module internally to fetch user info.",
        "category": "General",
        "x": 651.2500095367432,
        "y": 1947.2265892028809,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": true
    },
    {
        "id": "sd_Email7S6rOuO9WlY",
        "type": "Comments",
        "z": "sd_YBwPD1QoXPlA9xq1",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Redirect the user back to Login",
        "comments": "<p>Redirect back to /login if the flow cannot fetch user info or access token.</p>",
        "category": "General",
        "x": 177.50000381469727,
        "y": 1310.9765815734863,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": true
    },
    {
        "id": "sd_1YP3bbRouMdjh7N1",
        "type": "Comments",
        "z": "sd_YBwPD1QoXPlA9xq1",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Check Authorization",
        "comments": "Use this middleware flow for all authorized APIs.",
        "category": "General",
        "x": 813.75,
        "y": 2805.9765625,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": true
    },
    {
        "id": "sd_qaggjhfgkacO0yvd",
        "type": "Comments",
        "z": "sd_YBwPD1QoXPlA9xq1",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Logout Callback API",
        "comments": "<p>The API redirected by IDS to destroy the user session.</p>",
        "category": "General",
        "x": 581.25,
        "y": 2288.4765625,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": true
    },
    {
        "id": "sd_4yCmgzIz8mF9Ya4p",
        "type": "Catch",
        "z": "sd_YBwPD1QoXPlA9xq1",
        "viewType": "common",
        "nodeType": "start",
        "name": "Catch HandleTokenExpiry",
        "selectedNodes": [
            "sd_c9Ur6oPkt2357zT7"
        ],
        "selectCatchType": "selectednodes",
        "masternodeList": "",
        "ignoreList": "",
        "functionName": "sd_4yCmgzIz8mF9Ya4p",
        "category": "General",
        "x": 765,
        "y": 3260,
        "wires": [
            [
                "sd_L0j7WUD6LuRk6i4U"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_dCWCI7Lqpk6tk1KJ",
        "type": "Session",
        "z": "sd_YBwPD1QoXPlA9xq1",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "operationType": "update",
        "data": "",
        "resultMapping": "bh.local.session",
        "dataMapping": "bh.local.sessionData.data",
        "functionName": "sd_dCWCI7Lqpk6tk1KJ",
        "category": "HTTP",
        "x": 1205,
        "y": 1560,
        "wires": [
            [
                "sd_LO7p84BPWnLOZ7Yw"
            ]
        ],
        "__ssdTypeInputs__": {
            "resultMapping": {
                "type": "bh.local",
                "value": "session",
                "constant": false
            },
            "dataMapping": {
                "type": "bh.local",
                "value": "sessionData.data",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    }
]
