designs/server/services/users/detail.json
[
    {
        "id": "SSD_SERVICE_ID_sd_tfxyTHxjpf2SqyCD",
        "type": "tab",
        "createdDate": "2022-04-27T07:42:19.455Z",
        "label": "detail",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "detail",
        "relativeParentPath": "users"
    },
    {
        "id": "sd_renRHRTMcKQhgSWD",
        "type": "HttpIn",
        "z": "SSD_SERVICE_ID_sd_tfxyTHxjpf2SqyCD",
        "viewType": "server",
        "nodeType": "start",
        "name": "Get Details",
        "path": "users/:name",
        "uploadpath": "",
        "summary": "fetch blog details",
        "description": "call API with blog id",
        "method": "get",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "httpOptions": {
            "users/:name": {
                "get": {
                    "summary": "fetch blog details",
                    "description": "call API with blog id",
                    "consumes": [],
                    "produces": [],
                    "parameters": [
                        {
                            "in": "path",
                            "name": "name",
                            "description": "name",
                            "required": true
                        }
                    ],
                    "responses": {}
                }
            }
        },
        "uploadFileOptions": {},
        "editableListData": {
            "responses": [],
            "params": [
                {
                    "key": "name",
                    "desc": "name",
                    "type": "path",
                    "required": true,
                    "rowId": "sd_WurvB2ACIRY9JShs",
                    "valid": true
                }
            ],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "category": "HTTP",
        "x": 165,
        "y": 60,
        "wires": [
            [
                "sd_mWoz9az8lBZDxXAW"
            ]
        ],
        "__ssdTypeInputs__": {
            "uploadpath": {
                "type": "str",
                "value": "",
                "nullable": "true",
                "nullableValue": "",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "detail",
        "functionName": "sd_renRHRTMcKQhgSWD"
    },
    {
        "id": "sd_huxtzk4K1o2O0Mut",
        "type": "HttpOut",
        "z": "SSD_SERVICE_ID_sd_tfxyTHxjpf2SqyCD",
        "viewType": "server",
        "nodeType": "flow",
        "name": "Http Response",
        "headers": {},
        "responseBody": {
            "type": "bh.local",
            "value": "response",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "num",
            "value": 200,
            "ssd_typedInputField": true
        },
        "responseType": "obj",
        "responseMapping": {
            "status": 200,
            "obj": "bh.local.response",
            "send": "bh.local.response"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "httpResponse",
        "category": "HTTP",
        "x": 610,
        "y": 60,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_mWoz9az8lBZDxXAW",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_tfxyTHxjpf2SqyCD",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Get Details Script",
        "script": "const { name } = bh.input.params\nbh.local.query = \"SELECT * FROM users WHERE name = '\" + name + \"'\";\n\n",
        "functionName": "getDetailsScript",
        "category": "Function",
        "x": 330,
        "y": 60,
        "wires": [
            [
                "sd_GmcO5SQnZnMks4q5"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_GmcO5SQnZnMks4q5",
        "type": "ExecuteSql",
        "z": "SSD_SERVICE_ID_sd_tfxyTHxjpf2SqyCD",
        "viewType": "server",
        "nodeType": "flow",
        "name": "SQL Query",
        "databaseConfig": "sd_etWr60jvxRofVqty",
        "queryType": "",
        "resultMap": {
            "type": "bh.local",
            "value": "user"
        },
        "multipleQuery": "",
        "singleQuery": {
            "type": "bh.local",
            "value": "query"
        },
        "inputs": 1,
        "outputs": 1,
        "params": [],
        "paramMappingObj": {},
        "dbType": "postgres",
        "functionName": "sQLQuery",
        "category": "Storage",
        "x": 425,
        "y": 60,
        "wires": [
            [
                "sd_8myLF8XASmjotcVc"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_AJRyFJL48TdydMLR",
        "type": "Catch",
        "z": "SSD_SERVICE_ID_sd_tfxyTHxjpf2SqyCD",
        "viewType": "common",
        "nodeType": "start",
        "name": "Error",
        "selectedNodes": [
            "sd_2nxODheR1YKF8VI9"
        ],
        "selectCatchType": "selectednodes",
        "masternodeList": "",
        "ignoreList": "",
        "functionName": "error",
        "category": "General",
        "x": 170,
        "y": 220,
        "wires": [
            [
                "sd_s4W37bpxiJbgelw2"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "detail"
    },
    {
        "id": "sd_jpVGBUX6PmdfC8DP",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_tfxyTHxjpf2SqyCD",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Blog Error",
        "script": "bh.local.error ={\n    code:321,\n    message:'321 Error !!!'\n}",
        "functionName": "blogError",
        "category": "Function",
        "x": 450,
        "y": 180,
        "wires": [
            [
                "sd_jRduVospBZcROvlg"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_jRduVospBZcROvlg",
        "type": "HttpOut",
        "z": "SSD_SERVICE_ID_sd_tfxyTHxjpf2SqyCD",
        "viewType": "server",
        "nodeType": "flow",
        "name": "HTTP error out",
        "headers": {},
        "responseBody": {
            "type": "bh.local",
            "value": "error",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "num",
            "value": 500,
            "ssd_typedInputField": true
        },
        "responseType": "obj",
        "responseMapping": {
            "status": 500,
            "obj": "bh.local.error",
            "send": "bh.local.error"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "hTTPErrorOut",
        "category": "HTTP",
        "x": 630,
        "y": 220,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_s4W37bpxiJbgelw2",
        "type": "Switch",
        "z": "SSD_SERVICE_ID_sd_tfxyTHxjpf2SqyCD",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "error.message",
        "propertyType": "bh",
        "propertyGv": "bh.error.message",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str",
                "gv": "\"1\""
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str",
                "gv": "\"2\""
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_s4W37bpxiJbgelw2",
        "category": "Function",
        "x": 290,
        "y": 220,
        "wires": [
            [
                "sd_jpVGBUX6PmdfC8DP"
            ],
            [
                "sd_1OI7nnoubbs9K2oo"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_1OI7nnoubbs9K2oo",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_tfxyTHxjpf2SqyCD",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Blog Error 2",
        "script": "bh.local.error ={\n    code:123,\n    message:'123 Error !!!'\n}",
        "functionName": "blogError2",
        "category": "Function",
        "x": 450,
        "y": 280,
        "wires": [
            [
                "sd_jRduVospBZcROvlg"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_8myLF8XASmjotcVc",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_tfxyTHxjpf2SqyCD",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Get Details Script 1",
        "script": "bh.local.response = {\n    status: 200,\n    data: bh.local.user,\n    message: \"User Details Fetch Successfully\"\n\n}\n",
        "functionName": "getDetailsScript1",
        "category": "Function",
        "x": 505,
        "y": 60,
        "wires": [
            [
                "sd_huxtzk4K1o2O0Mut"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    }
]
