designs/server/services/users/list.json
[
    {
        "id": "SSD_SERVICE_ID_sd_EIxzjYQTGIPYUJ5V",
        "type": "tab",
        "createdDate": "2022-04-27T07:42:05.170Z",
        "label": "list",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "list",
        "relativeParentPath": "users"
    },
    {
        "id": "sd_VNl08xiTsdTKJfVx",
        "type": "HttpIn",
        "z": "SSD_SERVICE_ID_sd_EIxzjYQTGIPYUJ5V",
        "viewType": "server",
        "nodeType": "start",
        "name": "Get List",
        "path": "users",
        "uploadpath": "",
        "summary": "Fetching blogs list",
        "description": "for fetching details call the API with GET  method",
        "method": "get",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "httpOptions": {
            "users": {
                "get": {
                    "summary": "Fetching blogs list",
                    "description": "for fetching details call the API with GET  method",
                    "consumes": [],
                    "produces": [],
                    "parameters": [],
                    "responses": {}
                }
            }
        },
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "category": "HTTP",
        "x": 165,
        "y": 40,
        "wires": [
            [
                "sd_QNef0YehNjB0gHVb"
            ]
        ],
        "__ssdTypeInputs__": {
            "uploadpath": {
                "type": "str",
                "value": "",
                "nullable": "true",
                "nullableValue": "",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "list",
        "functionName": "sd_VNl08xiTsdTKJfVx"
    },
    {
        "id": "sd_RdynT6ippnfNv4iL",
        "type": "HttpOut",
        "z": "SSD_SERVICE_ID_sd_EIxzjYQTGIPYUJ5V",
        "viewType": "server",
        "nodeType": "flow",
        "name": "HTTP Response",
        "headers": {},
        "responseBody": {
            "type": "bh.local",
            "value": "response",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "num",
            "value": 200,
            "ssd_typedInputField": true
        },
        "responseType": "obj",
        "responseMapping": {
            "status": 200,
            "obj": "bh.local.response",
            "send": "bh.local.response"
        },
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "hTTPResponse",
        "category": "HTTP",
        "x": 585,
        "y": 40,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_QNef0YehNjB0gHVb",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_EIxzjYQTGIPYUJ5V",
        "viewType": "common",
        "nodeType": "flow",
        "name": "User list Script",
        "script": "bh.local.query = 'SELECT * FROM users';\n\nbh.local.response = {\n    status: 200,\n    data: bh.local.users,\n    message: \"Users Fetch Successfully\"\n\n}",
        "functionName": "userListScript",
        "category": "Function",
        "x": 270,
        "y": 40,
        "wires": [
            [
                "sd_mmaRV8U35x5aKW66"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_mmaRV8U35x5aKW66",
        "type": "ExecuteSql",
        "z": "SSD_SERVICE_ID_sd_EIxzjYQTGIPYUJ5V",
        "viewType": "server",
        "nodeType": "flow",
        "name": "SQL Query",
        "databaseConfig": "sd_etWr60jvxRofVqty",
        "resultMap": {
            "type": "bh.local",
            "value": "users"
        },
        "multipleQuery": "",
        "singleQuery": {
            "type": "bh.local",
            "value": "query"
        },
        "inputs": 1,
        "outputs": 1,
        "params": [],
        "dbType": "postgres",
        "functionName": "sQLQuery",
        "category": "Storage",
        "x": 390,
        "y": 40,
        "wires": [
            [
                "sd_7CraUnErXY7Ra0sO"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_VYikplmZuSg2dRZn",
        "type": "Catch",
        "z": "SSD_SERVICE_ID_sd_EIxzjYQTGIPYUJ5V",
        "viewType": "common",
        "nodeType": "start",
        "name": "Error",
        "selectedNodes": [
            "sd_Oz8ikA0XSnKaaaME"
        ],
        "selectCatchType": "selectednodes",
        "masternodeList": "",
        "ignoreList": "",
        "functionName": "error",
        "category": "General",
        "x": 170,
        "y": 180,
        "wires": [
            [
                "sd_Z6xriyQHJPYT6UoI"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "list"
    },
    {
        "id": "sd_x1KZTohc8WyN81ws",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_EIxzjYQTGIPYUJ5V",
        "viewType": "common",
        "nodeType": "flow",
        "name": "User Error",
        "script": "bh.local.error ={\n    code:bh.error.message,\n    message:'Opps.. somthing went wrong !!!!'\n}",
        "functionName": "userError",
        "category": "Function",
        "x": 390,
        "y": 140,
        "wires": [
            [
                "sd_VTiZt14wLWMHHiiD"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_VTiZt14wLWMHHiiD",
        "type": "HttpOut",
        "z": "SSD_SERVICE_ID_sd_EIxzjYQTGIPYUJ5V",
        "viewType": "server",
        "nodeType": "flow",
        "name": "HTTP error out",
        "headers": {},
        "responseBody": {
            "type": "bh.local",
            "value": "error",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "num",
            "value": 500,
            "ssd_typedInputField": true
        },
        "responseType": "obj",
        "responseMapping": {
            "status": 500,
            "obj": "bh.local.error",
            "send": "bh.local.error"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "hTTPErrorOut",
        "category": "HTTP",
        "x": 530,
        "y": 180,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_eS5WAIqLb0aYA7MM",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_EIxzjYQTGIPYUJ5V",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Blog Error2 F",
        "script": "bh.local.error = {\n    code: bh.error.message,\n    message: 'Opps.. somthing went wrong !!!!'\n}",
        "functionName": "blogError2F",
        "category": "Function",
        "x": 390,
        "y": 240,
        "wires": [
            [
                "sd_VTiZt14wLWMHHiiD"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_Z6xriyQHJPYT6UoI",
        "type": "Switch",
        "z": "SSD_SERVICE_ID_sd_EIxzjYQTGIPYUJ5V",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "error.message",
        "propertyType": "bh",
        "propertyGv": "bh.error.message",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str",
                "gv": "\"1\""
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str",
                "gv": "\"2\""
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_Z6xriyQHJPYT6UoI",
        "category": "Function",
        "x": 270,
        "y": 180,
        "wires": [
            [
                "sd_x1KZTohc8WyN81ws"
            ],
            [
                "sd_eS5WAIqLb0aYA7MM"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_7CraUnErXY7Ra0sO",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_EIxzjYQTGIPYUJ5V",
        "viewType": "common",
        "nodeType": "flow",
        "name": "User list Script 1",
        "script": "bh.local.response = {\n    status: 200,\n    data: bh.local.users,\n    message: \"Users Fetch Successfully\"\n\n}",
        "functionName": "userListScript1",
        "category": "Function",
        "x": 485,
        "y": 40,
        "wires": [
            [
                "sd_RdynT6ippnfNv4iL"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    }
]
